<h2><%= @postcard.name %></h2>

<% if @postcard.default_image %>
  <%= image_tag @postcard.default_image.path, :width => '200px', :style => "float:right" %>
<% end %>

<h3>Description: <%= @postcard.description %></h3>
<p><b>Price:</b> <%= number_to_currency @postcard.price %></p>
<p>
  <b><%= number_to_currency @postcard.price %></b>
  <%= link_to "Add to basket", postcard_path(@postcard.permalink), :method => :post %>
</p>

<hr>
<%= simple_format @postcard.description %>
<%= @postcard.short_description %>

<!-- not sure how to edit description. ajax/qjuery -->
<hr>

<%= render partial: 'new', locals: {postcard: @postcard} %>

<p><%= link_to "Back to list", root_path %></p>